{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
        <div class="container main-container">
            {% for notice in feed %}
                <div class="row well">
                    <div class="media">
                        <img class="pull-left" style="height:100%;" src="{{ notice.image }}" />
                        <div class="media-body">
                            <h3 class="media-heading" style="font-weight: bold;padding:15px;"><a href="{{ notice.source }}" target="_blank">{{ notice.title }}</a></h3>
                            {% if notice.body is not empty %}
                                <h4 style="padding:15px;">{{ notice.body }}</h4>
                            {% endif %}
                        </div>
                    </div>
                    <span class="source">{{ notice.publisher }}</span>
                </div>
            {% endfor %}
        </div>

{% endblock %}
